body{
	margin: 0;
	padding: 0;
	font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
	

	}


.section-1{
	height: 90px;
	margin-right: auto;
	margin-left: auto;
	
}


header{
	padding:5px;
	display: flex;
	justify-content: space-around;
	background-color:#474747;

}

nav ul li {
	display:inline-block;
	padding: 16px 10px;


}

nav ul li a{
	text-decoration: none;
	color: white;
	padding: 5px;
	float: left;

}

nav ul li :hover{
	background-color:#a39d8e;
	border-radius: 5px;
	transition: 0.8s;

}


