body{
	margin: 0;
	padding: 0;
	font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
	

	}


.section-1{
	height: 90px;
	margin-right: auto;
	margin-left: auto;
	
}


header{
	padding:5px;
	display: flex;
	justify-content: space-around;
	background-color:#474747;

}

nav ul li {
	display:inline-block;
	padding: 16px 10px;


}

nav ul li a{
	text-decoration: none;
	color: white;
	padding: 5px;
	float: left;

}

nav ul li :hover{
	background-color:#a39d8e;
	border-radius: 5px;
	transition: 0.8s;

}

h1{
	color: white;
	font-weight: bold;
	margin-top:30px;
	margin-left:5px;
	position: relative; 

}

span{
	color:	#C0C0C0;
}


.textbox{
	margin-top: 0;
	background-image: url("https://i.pinimg.com/564x/fd/e1/6b/fde16bb3d450d9da747eeb21c7360884.jpg");
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover; 
   

}

.textbox h2{
	font-weight: bold;
	font-size:33px;
	color: white;
    top:39%;
    left:21%;
    text-align: center;
    position: absolute;
    letter-spacing: 2px;
    word-spacing: 6px;


}

.textbox p{
	color: white;
	font-size: 14px;
	margin: 14px 0 40px;
    top:54%;
    left:25%;
    text-align: center;
    position: absolute;
    letter-spacing: 1px;
    word-spacing: 2px;


}
.button{
	text-decoration: none;
	border: 2px solid lightgray;
	background-color: transparent;
	position: relative;
	top:58%;
	left: 43%;
	padding: 12px 15px;
	color: white;
	letter-spacing: 1px;
    word-spacing: 2px;
}
.button:hover{
	border-radius: 5px;
	background-color:#a39d8e;
	transition: .5s;

}

